page-trackmap {
    #map {
        height: 85%;
        }
        .card-title{
            font:20px bold;
        }
        [cardTheme]{
            height:13%;
            width:100%;
            margin: 0;
        }
}
