page-trackmap {
    #map {
        display: block;
    height: 87%;
    width: 100%;
        }
        .card-title{
            font:20px bold;
        }
        [cardTheme]{
            height:10%;
            width:100%;
            margin: 0;
            background-color: #ffbf00;
        }
        [iconTheme]{
            font-size: 30px;
            color: black;
            padding: 5px;
        }
        [butonstyle]{
            color: black;
            font-size: 70%;
        }
        ion-card {
            max-height: 200px;
            overflow: scroll;
            position: absolute;
            z-index: 1;
        }
}
