<!--
  Generated template for the TrackmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <ion-card style="background-color: #ffbf00;" *ngIf="panelDisplay">
    <!-- <button style="background-color: black;float:right;" ion-button icon-only item-right>
    <ion-icon name="close"></ion-icon>
  </button> -->
  <ion-buttons end>
                <button style="background-color: black;" ion-button icon-only (click)="closeModal()">
                    <ion-icon item-right name="ios-close-outline"></ion-icon>
                </button>
            </ion-buttons>
        <ion-card-content>
            <div #directionsPanel></div>
        </ion-card-content>
    </ion-card>
  <div #map id="map"></div>
  <!-- <div>
     <button style="background-color: #ffbf00;color: black;width: 60%;" ion-button type="submit">
     SHOW PANEL</button>
  </div> -->
  <!-- <label>{{locationTracker.lat}}</label> -->
   <ion-fab bottom right>
    <button (click)="showDirectionPanel()" ion-fab mini><ion-icon md="md-open"></ion-icon></button>
  </ion-fab>
  <span *ngIf="friendCase" class="card-title">You have {{friendCount}} friends to track..</span>
  <span *ngIf="trackCase" class="card-title">{{selectedFriend}} is ready to track..</span>
  <div cardTheme>
  <!-- <ion-card cardTheme style="height:100%;width: 100%"> -->
     <ion-segment>
        <ion-segment-button (click)="initMap()">
              <ion-icon iconTheme name="person"></ion-icon>
              Find Me
        </ion-segment-button>
        <ion-segment-button (click)="GetMyFriendLocation()" >
           <ion-icon iconTheme name="people"></ion-icon>
              Find Friends
        </ion-segment-button>
        <ion-segment-button (click)="calculateAndDisplayRoute()"  >
             <ion-icon iconTheme name="locate"></ion-icon>
              Track
        </ion-segment-button>
    </ion-segment>


   <!--  <ion-row>
      <ion-col>
         <button (click)="initMap()" block clear ion-button butonstyle>
              <ion-icon iconTheme name="person"></ion-icon>
              Find Me
            </button> 
      </ion-col>
      <ion-col>
        <button (click)="GetMyFriendLocation()" block clear ion-button butonstyle>
              <ion-icon iconTheme name="people"></ion-icon>
              Find Friends
            </button>
      </ion-col>
      <ion-col>
        <button [disabled]="!trackCase" (click)="calculateAndDisplayRoute()" block clear ion-button butonstyle>
              <ion-icon iconTheme name="locate"></ion-icon>
              Track
            </button>
            
      </ion-col>

    </ion-row> -->
      <!-- <ion-item>
              
          
          <p *ngIf="selectedFriend">11 N. Way St, Madison, WI 53703</p>
          <button *ngIf="selectedFriend" (click)="calculateAndDisplayRoute()" ion-button icon-right clear item-end>
              <ion-icon name="navigate"></ion-icon>
              Start
            </button> -->
            <!-- <ion-avatar item-right>
                <img src="assets/images/defaultProfilePicture.jpg">
              </ion-avatar> -->
        <!-- </ion-item> -->
  <!-- </ion-card> -->
  <!-- <div padding-top>
    <ion-buttons end>
        <button ion-button (click)="calculateAndDisplayRoute()">
            <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon>Find Friends</button>
    </ion-buttons>
  </div> -->
</div>
 
</ion-content>

