page-home {
    height: 100%;
    .scroll-content {
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      [ion-item]{
        text-align:center;
        font-weight: bold;
      }
      
       #cloud-layer {
        background-image: url(../assets/images/banner.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 42%;
      }
    }