page-friends {
    .scroll-content {
        background-color: #ffbf00;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      .itemStyle{
        background-color: #ffbf00;
        color: white;
    }
    // .segment-button.segment-activated
    .segment-md .segment-button
    {
        color: black;
        border-color: black;
    }
}
