page-review {

  .scroll-content {
        // background-color: black;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

    ion-list {
       background-color: black;
    }

	ul {
  padding: 0px;
 
  &.rating li {
    padding: 5px 10px !important;
    background: #ffbf00;
    color: #ffbf00;
 
    ion-icon {
      font-size: 30px;
    }
  }
}

.login-button {
          width: 90%;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: black;
          border-radius:9px;
      }

}
