page-signup {
    .scroll-content {
        background-color: #ffbf00;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      .itemStyle{
          background-color: #ffbf00;
          color: white;
      }
}
